/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/Exports/
/.vs/
/.idea/
*.csproj
*.sln
*.suo
*.user
.DS_Store
Thumbs.db
/Assets/HierarchyExport_*.prefab
/Assets/HierarchyExport_*.prefab.meta
